In [5]:
import warnings
warnings.simplefilter('ignore')

import matplotlib.pyplot as plt
import numpy as np
import pandas as pd

In [6]:
births2018 = pd.read_csv('usBirths_2018.csv')
births2018.head()

,ATTEND,BFACIL,BMI,CIG_0,DBWT,DLMP_MM,DLMP_YY,DMAR,DOB_MM,DOB_TT,...,PRIORDEAD,PRIORLIVE,PRIORTERM,PWgt_R,RDMETH_REC,RESTATUS,RF_CESAR,RF_CESARN,SEX,WTGAIN
0,1,1,30.7,0,3657,4,2017,1,1,1227,...,0,1,2,190,1,2,N,0,M,41
1,1,1,33.3,2,3242,99,9999,2,1,1704,...,0,2,0,188,4,2,Y,2,F,0
2,1,1,30.0,0,3470,4,2017,1,1,336,...,0,1,0,215,1,1,N,0,M,58
3,3,1,23.7,0,3140,5,2017,2,1,938,...,0,2,0,138,1,2,N,0,F,0
4,1,1,35.5,0,2125,99,9999,1,1,830,...,0,1,4,220,3,1,N,0,M,0

In [7]:
 # Use Pandas get_dummies to convert categorical data

births2018 = pd.get_dummies(births2018)
births2018.head()

,ATTEND,BFACIL,BMI,CIG_0,DBWT,DLMP_MM,DLMP_YY,DOB_MM,DOB_TT,DOB_WK,...,MRACEIMP_,MRACEIMP_1,MTRAN_N,MTRAN_U,MTRAN_Y,RF_CESAR_N,RF_CESAR_U,RF_CESAR_Y,SEX_F,SEX_M
0,1,1,30.7,0,3657,4,2017,1,1227,2,...,1,0,1,0,0,1,0,0,0,1
1,1,1,33.3,2,3242,99,9999,1,1704,2,...,1,0,1,0,0,0,0,1,1,0
2,1,1,30.0,0,3470,4,2017,1,336,2,...,1,0,1,0,0,1,0,0,0,1
3,3,1,23.7,0,3140,5,2017,1,938,2,...,1,0,1,0,0,1,0,0,1,0
4,1,1,35.5,0,2125,99,9999,1,830,3,...,1,0,1,0,0,1,0,0,0,1

In [8]:
#Input data is refered to as independent variable (uppercase 'X')
#BMI=BodyMass Index, PRIORLIVE=Prior Births Now Living; MAGER=Mother's Single Year of Age, MRACE15=Mother's Single Race Only (1=white, 2=black) MRACE31=Mother is Bi-racial, MRACEIMP=Mother's race not imputted
X = births2018[["BMI", "PRIORLIVE", "MAGER", "MRACE15", "MRACE31", "MHISPX"]]
#X = births2018
#Output data is called the dependent variable (lowercase 'y')
y = births2018["DBWT"].values.reshape(-1,1) #Contributing facts to LBW child
print(X.shape, y.shape)

(1048575, 6) (1048575, 1)

In [9]:
births2018.columns

Index(['ATTEND', 'BFACIL', 'BMI', 'CIG_0', 'DBWT', 'DLMP_MM', 'DLMP_YY',
       'DOB_MM', 'DOB_TT', 'DOB_WK', 'DOB_YY', 'DWgt_R', 'FAGECOMB', 'FEDUC',
       'FHISPX', 'FRACE15', 'FRACE31', 'FRACE6', 'ILLB_R', 'ILOP_R', 'ILP_R',
       'MAGER', 'MBSTATE_REC', 'MEDUC', 'MHISPX', 'MRACE15', 'MRACE31',
       'MRAVE6', 'M_Ht_In', 'NO_INFEC', 'NO_MMORB', 'NO_RISKS', 'PAY',
       'PAY_REC', 'PRECARE', 'PREVIS', 'PRIORDEAD', 'PRIORLIVE', 'PRIORTERM',
       'PWgt_R', 'RDMETH_REC', 'RESTATUS', 'RF_CESARN', 'WTGAIN', 'DMAR_1',
       'DMAR_2', 'DMAR_ ', 'DMAR_1', 'DMAR_2', 'IMP_SEX_ ', 'IMP_SEX_1',
       'IP_GON_N', 'IP_GON_U', 'IP_GON_Y', 'LD_INDL_N', 'LD_INDL_U',
       'LD_INDL_Y', 'MAGE_IMPFLG_ ', 'MAGE_IMPFLG_1', 'MAR_IMP_ ', 'MAR_IMP_1',
       'MM_AICU_N', 'MM_AICU_U', 'MM_AICU_Y', 'MRACEIMP_ ', 'MRACEIMP_1',
       'MTRAN_N', 'MTRAN_U', 'MTRAN_Y', 'RF_CESAR_N', 'RF_CESAR_U',
       'RF_CESAR_Y', 'SEX_F', 'SEX_M'],
      dtype='object')

In [10]:
np.median(y)

3290.0

In [11]:
y = np.where(y > 3290.0, 1, 0)

In [12]:
# Use train_test_split to create training and testing data

from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42)
#y_train

In [34]:
# Create a LinearRegression model and fit it to the scaled training data

from sklearn.linear_model import LogisticRegression
from sklearn.neural_network import MLPClassifier
model = MLPClassifier(hidden_layer_sizes=(8,8,8), activation='relu', solver='adam', max_iter=600)
#relu try (tanh, 'identity’, ‘logistic’, ‘tanh’, ‘relu') = These are called activation function
#model = LogisticRegression()
model.fit(X_train, y_train)

MLPClassifier(activation='relu', alpha=0.0001, batch_size='auto', beta_1=0.9,
              beta_2=0.999, early_stopping=False, epsilon=1e-08,
              hidden_layer_sizes=(8, 8, 8), learning_rate='constant',
              learning_rate_init=0.001, max_iter=600, momentum=0.9,
              n_iter_no_change=10, nesterovs_momentum=True, power_t=0.5,
              random_state=None, shuffle=True, solver='adam', tol=0.0001,
              validation_fraction=0.1, verbose=False, warm_start=False)

In [35]:
X_test.head()

         BMI  PRIORLIVE  MAGER  MRACE15  MRACE31  MHISPX
781974  20.9          0     19        2        2       0
937737  25.7          0     26        1        1       3
907828  25.8          3     40        2        2       0
784628  27.3          1     33        2        2       0
662460  99.9          1     18        1        1       1

In [36]:
#to predict the value of the column, research ' Regresstion Variale selection'
from sklearn.metrics import mean_squared_log_error
pred=model.predict(X_test)
np.sqrt(mean_squared_log_error(y_test, pred))

0.4536654542198581

In [37]:
#the abaove is telling me how good the model is. The smaller the better

In [55]:
#if I want to look at real world data, use all of the data. Do not use X_train/y_train
from sklearn.linear_model import LogisticRegression
from sklearn.neural_network import MLPClassifier
model2 = MLPClassifier(hidden_layer_sizes=(8,8,8), activation='relu', solver='adam', max_iter=600)
#relu try (tanh, 'identity’, ‘logistic’, ‘tanh’, ‘relu') = These are called activation function
#model = LogisticRegression()
model2.fit(X, y)

MLPClassifier(activation='relu', alpha=0.0001, batch_size='auto', beta_1=0.9,
              beta_2=0.999, early_stopping=False, epsilon=1e-08,
              hidden_layer_sizes=(8, 8, 8), learning_rate='constant',
              learning_rate_init=0.001, max_iter=600, momentum=0.9,
              n_iter_no_change=10, nesterovs_momentum=True, power_t=0.5,
              random_state=None, shuffle=True, solver='adam', tol=0.0001,
              validation_fraction=0.1, verbose=False, warm_start=False)

In [56]:
import pickle
filename = 'birthfactors.sav'
pickle.dump(model2, open(filename, 'wb'))

In [57]:
loaded_model = pickle.load(open(filename, 'rb'))
pred=loaded_model.predict(X_test)
np.sqrt(mean_squared_log_error(y_test, pred))

0.455262460926537

In [58]:
X_test.head()

         BMI  PRIORLIVE  MAGER  MRACE15  MRACE31  MHISPX
781974  20.9          0     19        2        2       0
937737  25.7          0     26        1        1       3
907828  25.8          3     40        2        2       0
784628  27.3          1     33        2        2       0
662460  99.9          1     18        1        1       1

In [59]:
#TEST for HTML
test=pd.DataFrame({"BMI":20.9, "PRIORLIVE":0, "MAGER":19, "MRACE15":2, "MRACE31": 2, "MHISPX":0}, index=[0])
pred2=loaded_model.predict(test)
pred2

array([0])

In [60]:
pred

array([0, 1, 0, ..., 1, 1, 1])